<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function submitForm(path) {
            const form = document.querySelector('#form');
            form.action = path;
            form.submit();
        }
    </script>
</head>
<body>
    <table>
        <tr th:if="${validationError}" th:each="error : ${validationError}">
            <td style="color:blue" th:text="${error}"></td>
        </tr>
    </table>
    <br>
    <form id="form" action="" method="get">
        
            <label for="userid">ユーザID</label>
            <input type="text" id="id" name="id"  th:value="${backValue != null ? backValue.id: ''}"><br>

            <label for="mail">メール</label>
            <input type="text" id="mail" name="mail"  th:value="${backValue != null ? backValue.mail: ''}"><br>

            <label for="nickname">ニックネーム</label>
            <input type="text" id="nickName" name="nickName"  th:value="${backValue != null ? backValue.nickName: ''}"><br>

            <label for="password">パスワード</label>
            <input type="text" id="password" name="password"  th:value="${backValue != null ? backValue.password: ''}"><br>

            <label for="prefecture">県名</label>
            <input type="text" id="prefecture" name="prefecture"  th:value="${backValue != null ? backValue.prefecture: ''}"><br>

            <label for="tel">電話番号</label>
            <input type="text" id="tel" name="tel"  th:value="${backValue != null ? backValue.tel: ''}"><br>

            <label for="roll">権限</label>
            <select name="roll" id="roll">
                <option type="hidden" value=""></option>
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select><br>
        <!--<input type="text" id="roll" name="roll"  th:value="${backValue != null ? backValue.roll: 'USER'}"> -->

            <label for="deleteFrag">削除フラグ</label>  
            <select name="deleteFrag" id="deleteFrag">
                <option value="0">0</option>
                <option value="1">1 (登録不可)</option>
            </select><br><br>          
        <!--<input type="text" id="deleteFrag" name="deleteFrag"  th:value="${backValue != null ? backValue.deleteFrag: '0'} "> -->
        

        <input type="button" onclick="submitForm('/regist')" value="登録">
        <input type="button" onclick="submitForm('/search')" value="検索">
    </form>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>mail</th>
                <th>nickName</th>
                <th>password</th>
                <th>prefecture</th>
                <th>tel</th>
                <th>roll</th>
                <th>deleteFrag</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.mail}"></td>
                <td th:text="${user.nickName}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.prefecture}"></td>
                <td th:text="${user.tel}"></td>
                <td th:text="${user.roll}"></td>
                <td th:text="${user.deleteFrag}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>